body {
    color: #4a4640;
    // background: #c7c7c7 url('../images/bg-5.png') no-repeat center;
}

p {
    margin-bottom: 15px;
}
.title, .title > * {
    color: $title-color;
    font-size: 40px;
    font-family: $font-falcoaria;

    @include tablet {
        font-size: 30px;
    }
}

.title {
    margin: 20px 0;
}

.underline-title {
    width: 300px;
    height: 10px;
    margin: 10px 0 40px;
    background: url('../images/bg-triangle.png');
}

.section {
    margin-top: 30px;

    @include phone {
        padding: 0 15px;
    }
}

.section-separator {
    width: 200px;
    height: 1px;
    background-color: $title-color;
    margin: 70px auto;
}

.section-text {
    font-size: 20px;
    margin-bottom: 40px;

    @include tablet {
        font-size: 18px;
    }
}

.container {
    @include phone {
        padding: 0 15px;
    }
}

ul > li a {
    font-family: $font-falcoaria;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus, .show > .btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(76 67 52);
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #5d5343;
    border-color: #4c4334;
}

.btn-success:focus, .btn-success.focus {
    background-color: #423a32;
    border-color: #917f69;
    box-shadow: 0 0 0 0.2rem rgb(66 58 50);
}

.btn-success:hover {
    background-color: #423a32;
    border-color: #917f69;
}

[class^=error-] {
    color: red;
    font-size: 14px;
}