body {
    color: #4a4640;
    // background: #c7c7c7 url('../images/bg-5.png') no-repeat center;
}

p {
    margin-bottom: 15px;
}
.title, .title > * {
    color: $title-color;
    font-size: 40px;
}

.title {
    margin: 20px 0;
}

.underline-title {
    width: 300px;
    height: 10px;
    margin: 10px 0 40px;
    background: url('../images/bg-triangle.png');
}

.section {
    margin-top: 30px;
}

.section-separator {
    width: 200px;
    height: 1px;
    background-color: $title-color;
    margin: 70px auto;
}

.section-text {
    font-size: 18px;
    margin-bottom: 40px;
}
