// $font-primary: "Kingdom", Georgia;
// $font-secondary: 'Montserrat', sans-serif;

$font-primary: 'Open Sans', Georgia, sans-serif;
$font-secondary: 'Montserrat', sans-serif;

$title-color: #6f4609;