.form-container {
    margin-bottom: 80px;
    .btn-success {
        color: #fff;
        background-color: #504636;
        border-color: #403630;
    }

    .form-control {
        border-radius: 0;
    }
}

.icon-box-info {
    .fa {
        color: #9e6005;
    }
}
.info-box-info {
    .info-label {
        font-size: 22px;
        color: #a7a7a7;
    }
}

.info-contact, .form-contact {
    color: #fff;
    padding: 40px;
}

.info-contact {
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 650px;
    .effect {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: 0.8);
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    .box-info {
        position: relative;
        z-index: 2;
        display: flex;
        gap: 20px;

        .info-label {
            margin-bottom: 15px;
        }
    }

    .box-info + .box-info {
        margin-top: 40px;
    }
}

.form-contact {
    color: #494640;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    .form-group {
        margin-bottom: 0;
    }
    .form-group + .form-group {
        margin-top: 30px;
    }

    .form-label {
        display: inline-block;
        margin-bottom: 10px;
    }
}