.galeria-container {
    margin-bottom: 70px;
    text-align: center;
    a {
        background-size: cover;
        background-position: center;
        display: inline-block;
        padding: 100px;
        margin: 20px;
        @include shadow-light;
        @include animating;

        &:hover {
            box-shadow: none;
        }
    }
}